body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.iframe-container {
  margin: 25%;
  position: relative;
  width: 350px;
  height: 300px;

}

.weatherModal {
  margin: auto;
  width: 50%;
  padding: 10px;
  height: 600px;
  width: 800px;
  outline: none;
}
/* Clean up the outline bug on mat ui modals*/
.modal {
  outline: none !important;
}
/* Cancel icon positioned correctly*/
.cancel {
  position: relative;
  margin-bottom: 65% !important;
  right: 200px;
}
